body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: 'Verdana';

    /* We might need to add to more places. */
    box-sizing: border-box;
}

.big-a {
    font-size: 36px;
    padding: 10px;
}

#main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px;
    width: 100%;
}

#main-navbar {
    display: flex;
}

#main-navbar a {
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    padding: 6px;
    transition: padding 0.15s ease;
}

#main-navbar a:hover {
    padding-bottom: 10px;
    padding-top: 2px;
}

#main-content {
    padding-top: 12px;
}

#main-container {
    max-width: 800px;
    margin: auto;
}

#main-footer {
    margin: auto;
    text-align: center;
}

#main-footer a {
    color: white;
}

#curator-feed-default-feed-layout {
    min-width: 826px;
}
