body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: 'Verdana';

    /* We might need to add to more places. */
    box-sizing: border-box;
}

.big-a {
    font-size: 36px;
    padding: 10px;
}

#main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px;
    user-select: none;
}

#main-navbar {
    display: flex;
}

#main-header a {
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    padding: 6px;
    transition: padding 0.15s ease;
}

#main-navbar-menu {
    display: none;
}

#main-navbar a:hover {
    padding-bottom: 10px;
    padding-top: 2px;
}

#main-content {
    padding-top: 12px;
}

#main-content h1 {
    text-align: center;
}
#main-content h2 {
    font-size: 1.2em;
}

#main-container {
    max-width: 800px;
    margin: auto;
    padding: 8px;
}

#main-footer {
    margin: auto;
    text-align: center;
}

#main-footer a {
    color: white;
}

#curator-feed-default-feed-layout {
    min-height: 826px;
}

@media only screen and (max-width: 575px) {
    #main-navbar {
        display: none;
        flex-flow: column nowrap;
    }
    .navbar-clicked  #main-navbar {
        display: flex;
    }
    #main-navbar a {
        padding: 12px;
    }
    #main-navbar a:hover {
        padding: 12px 8px 12px 16px;
    }
    #main-navbar-menu {
        display: block;
    }
    .navbar-clicked #main-navbar-menu {
        color: gray; 
    }
    #main-header {
        flex-flow: column nowrap;
    }
    #curator-feed-default-feed-layout {
        min-height: 500px;
        max-height: 500px;
    }
}

#curator-feed-default-feed-layout.crt-widget.crt-widget-branded {
    padding-bottom: 0px;
}
