<!DOCTYPE html>
<html lang="sv-SE">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Aderfina information">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{{ page.title }}</title>
        <style>{% include style.css %}</style>
        <link rel="stylesheet" id="local-style" disabled href="/_includes/style.css">
    </head>
    <body>
        <script>
            if (document.location.hostname === 'localhost') {
                document.getElementById('local-style').removeAttribute('disabled')
            }
        </script>
        <div id="main-container">
            <header id="main-header">
                <div class="big-a">
                    A
                </div>
                <nav id="main-navbar">
                    <a href="/index.html">Aderfina</a> 
                    <a href="/services.html">Tjänster</a> 
                    <a href="/customers.html">Kunder</a>
                    <a href="/about.html">Om oss</a> 
                    <a href="/contact.html">Kontakt</a> 
                </nav>
            </header>
            <article id="main-content">
                {{ content }}
            </article>
            <footer id="main-footer">
                <a href="instagram.com">Insta</a>
            </footer>
        </div>
    </body>
</html>
