<!DOCTYPE html>
<html lang="sv-SE">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Aderfina information">
        <meta http-equiv="Content-Security-Policy" content="object-src 'none'; base-uri 'none'; script-src 'sha256-yRiOe0w8dhgR1ORkYwsg+FtKpn7wvuURC0gaaB0yFFA=' 'strict-dynamic' https: http: 'unsafe-inline'">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{{ page.title }}</title>
        <style>{% include style.css %}</style>
    </head>
    <body>
        <script>
            if (document.location.hostname === 'localhost') {
                const head = document.getElementsByTagName('head')[0];
                const link = document.createElement('link');
                link.rel  = 'preload';
                link.href = '/_includes/style.css';
                link.as = 'style'
                link.addEventListener('load', () => {
                    link.rel = 'stylesheet'
                })
                head.appendChild(link)
            }
        </script>
        <div id="main-container">
            <header id="main-header">
                <div class="big-a">
                    A
                </div>
                <nav id="main-navbar">
                    <a href="/index.html">Aderfina</a> 
                    <a href="/services.html">Tjänster</a> 
                    <a href="/customers.html">Kunder</a>
                    <a href="/about.html">Om oss</a> 
                    <a href="/contact.html">Kontakt</a> 
                </nav>
            </header>
            <article id="main-content">
                {{ content }}
            </article>
            <footer id="main-footer">
                <a href="instagram.com">Insta</a>
            </footer>
        </div>
    </body>
</html>
